:root { /* source: https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
    background-color: black;
    font-size: 10px;
}


* { /* all elements */
    box-sizing: border-box; /*source: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #88242e;
    margin: 0;
    padding: 0;
}


audio {
    display: none;
}


h1 {
    font-size: 6em;
    color: #88242e;
    margin-bottom: 1em;
}


h2{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 0.75em;
}

p {
    font-size: 55px;
    font-weight: 700;;
}

.container {
    /* entire page */
    width: 100vw;
    height: 100vh; 

    /* in center horizontally & vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 800px;
    margin: 0 auto;
}


.container > * {
    /* for children of container */
    width: 100%;
}


.button {
    font-size: 30px;
    color: #88242e;
    text-decoration: none;
    text-align: center;

    padding: 10px 0;
    width: 200px;
    border: 7px solid #88242e;
    margin-bottom: 15px;
    background-color: black;
}


.flexCenter {
    justify-content: center;
    align-items: center;
}


.flexColumn {
    display: flex;
    flex-direction: column;
}


.justifyCenter {
    justify-content: center;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input {
    margin-bottom: 30px;
    width: 400px;
    padding: 20px;
    font-size: 24px;
    color: black;
}